Demo_ My first AI Agent in n8n (1).json
{
  "name": "Demo: My first AI Agent in n8n",
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "openai/gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "openai/gpt-4o-mini"
        },
        "options": {
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        992,
        240
      ],
      "id": "f0e89317-15ba-40ff-be13-f31ea1e59782",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "C3mTfuwjYn28UANU",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "text",
              "cssSelector": ".content "
            }
          ]
        },
        "options": {
          "trimValues": true,
          "cleanUpText": true
        }
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        720,
        -16
      ],
      "id": "f243d001-f3c0-4bfb-a13f-591a09b718f5",
      "name": "HTML"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "=تو یک نویسنده و ویراستار حرفه‌ای هستی که باید متن خبری خارجی درباره انیمه یا مانگا را برای وب‌سایت AME-TAMA بازنویسی کنی.\n\nقوانین اصلی:\n\n1. متن ورودی را تحلیل کن و به‌صورت یک خبر فارسی روان، منسجم و قابل‌انتشار بازنویسی کن.\n\n2. فقط خروجی HTML تولید کن. هیچ توضیح، کد اضافی یا متن خارج از تگ HTML ارائه نده.\n\n3. ساختار HTML فقط شامل تگ‌های زیر باشد (از تگ‌های <h1> و <img> استفاده نکن چون توسط سیستم من تولید می‌شوند):\n\n   - <p> برای پاراگراف‌های اصلی خبر.\n   - <h2> برای تیترهای بخش‌های مهم مثل: خلاصه داستان، تاریخ انتشار، استودیو سازنده، صداپیشگان، ادامه فصل جدید و غیره.\n   - <h3> برای زیرشاخه‌ها یا توضیحات جزئی‌تر.\n   - <ul><li> برای لیست‌کردن اطلاعات رسمی (تاریخ‌ها، صداپیشه‌ها، عوامل ساخت و ... در صورت نیاز).\n   - <strong> برای برجسته کردن نام‌ها، تاریخ‌ها، استودیوها یا اطلاعات مهم.\n   - <br/> فقط در صورتی که واقعا لازم باشد برای فاصله کوتاه.\n\n4. عنوان خبر را داخل متن تکرار نکن، چون <h1> توسط سیستم من جداگانه ساخته می‌شود.\n\n5. اگر خبر ظرفیت تحلیل دارد، در انتهای متن این بخش را اضافه کن:\n<br/><br/>\n\n<p><strong>تحلیل AME-TAMA:</strong> توضیح کوتاه، تحلیلی و طبیعی در 2 تا 3 جمله.</p> ``` اگر خبر تحلیلی لازم ندارد، این بخش را حذف کن.\nهیچ تگ اضافه‌ای مثل div، span با استایل، table، iframe، script، لینک خارجی یا نام سایت‌های خارجی ننویس.\n\nمتن باید 100٪ فارسی روان، طبیعی و انسانی باشد (نه ترجمه ماشینی و نه بیش از حد محاوره‌ای).\n\nاگر لازم بود، از اموجی بسیار محدود (حداکثر 1 تا 2 عدد) استفاده کن، فقط وقتی حس خبر را بهتر منتقل کند.\n\nخروجی = فقط HTML مطابق قوانین بالا."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        992,
        -16
      ],
      "id": "a11b8c81-64cd-4715-b172-b7aa566484d8",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "url": "https://myanimelist.net/rss/news.xml",
        "options": {
          "customFields": "media:thumbnail"
        }
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -1136,
        -16
      ],
      "id": "ae0ccd8f-88a1-4afc-9247-dd819eaae300",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nreturn items[0];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -816,
        -16
      ],
      "id": "add54cf0-b9bb-466c-8390-da777dcff46b",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Code in JavaScript').item.json.title }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "خروجی رو به صورت json برام برگردون \n\n{\ntitle: \"\" // یک تایتل فارسی به نسبت تایتل انگلیسی\nslug: \"\" // یک اسلاگ انگلیسی متناسب با متن تایتل\n}\n\nقوانین:\nتایتل حتما یاید فراسی روان باشد و اسم انیمه هم ترجمه نشود \nمثال: \nپخش انیمه ی one [iece متوقف شد\n\nاسلاگ باید حتما متن انگلیسی متناسب با تایتل باشد و هم user friendly هم seo best practice باشد"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        112,
        -16
      ],
      "id": "6ce2087f-84a4-48a1-8cb4-138f177fec40",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "openai/gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "openai/gpt-4o-mini"
        },
        "options": {
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        112,
        256
      ],
      "id": "22a271fa-89eb-490f-912f-5c82c2d05f35",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "C3mTfuwjYn28UANU",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"title\": {\n\t\t\t\"type\": \"string\"\n\t\t},\n\t\t\"slug\": {\n\t\t\t\"type\": \"string\"\n\t\t}\n\t}\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        256,
        240
      ],
      "id": "7fdb5df6-4de4-4d6a-a1cb-568583166e35",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "68ac69b8-e9e9-438a-9a01-ba0d21b5d58d",
              "name": "=title",
              "value": "={{ $('AI Agent').item.json.output.title }}",
              "type": "string"
            },
            {
              "id": "fe03e2ef-e546-47d5-aedc-1a7cf0bb4b5c",
              "name": "slug",
              "value": "={{ $('AI Agent').item.json.output.slug }}",
              "type": "string"
            },
            {
              "id": "cea46e21-1892-4d40-9cf8-419d72c7d7d7",
              "name": "=content",
              "value": "={{ $json.output }}",
              "type": "string"
            },
            {
              "id": "55884f15-77da-4c26-bef5-db4e08fa0930",
              "name": "image",
              "value": "={{ $('upload image').item.json.uuid }}",
              "type": "string"
            },
            {
              "id": "8081b2d3-ce40-4573-a681-b89c6336e7db",
              "name": "=url",
              "value": "={{ $('Code in JavaScript').item.json.guid }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1504,
        -16
      ],
      "id": "1dfce0b9-51e1-4cf1-9697-1e09019b42eb",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "url": "={{ $('Code in JavaScript').item.json['media:thumbnail'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -352,
        -384
      ],
      "id": "f0b199f1-d960-4c95-9662-a0d0656e17a1",
      "name": "donwload image"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.ame-tama.com/upload",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        48,
        -384
      ],
      "id": "ccd92b85-01e1-44aa-942f-b7cc742528fe",
      "name": "upload image",
      "credentials": {
        "httpBearerAuth": {
          "id": "wnGYBBoIcDXHMD7y",
          "name": "ame  tama"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $('Code in JavaScript').item.json.guid }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        448,
        -16
      ],
      "id": "6fe70595-8a47-40a7-b88c-985ed66763a6",
      "name": "get news page"
    },
    {
      "parameters": {
        "url": "=https://api.ame-tama.com/rss/is-rss-exists/{{ $json.guid.urlEncode() }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -608,
        -16
      ],
      "id": "2e9ecce0-3ac4-4935-8a98-f44d31f32956",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e10f282b-4115-4d77-91f6-5dc0d824d943",
              "leftValue": "={{ $json.data }}",
              "rightValue": "false",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -336,
        -16
      ],
      "id": "e8f74c5f-dd2f-44ba-9e60-774b54277cdc",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.ame-tama.com/rss/add-news",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "title",
              "value": "={{ $json.title }}"
            },
            {
              "name": "slug",
              "value": "={{ $json.slug }}"
            },
            {
              "name": "content",
              "value": "={{ $json.content }}"
            },
            {
              "name": "url",
              "value": "={{ $json.url }}"
            },
            {
              "name": "image",
              "value": "={{ $json.image }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1824,
        -16
      ],
      "id": "111790f4-fea4-4b6c-b879-9dee26092abb",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1648,
        -16
      ],
      "id": "a9734797-c63b-4eaf-9a73-e0842a4f9fe8",
      "name": "Schedule Trigger"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "get news page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "donwload image": {
      "main": [
        [
          {
            "node": "upload image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "upload image": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get news page": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "donwload image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "bab49212-44c6-4249-9c78-0b9501a8c2c7",
  "meta": {
    "templateId": "self-building-ai-agent",
    "templateCredsSetupCompleted": true,
    "instanceId": "39e927a4140028b2dc66effb5288ea688673c2164339ab4c266b73d52195d8a7"
  },
  "id": "ys2vFNzAOuI5SMQ9",
  "tags": []
}